.tabel{
  justify-content: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;



  img{
   
    border-radius: 10%;
   
  }


 table {
  border-collapse: collapse;

} 


input, select{
  width: 100%;
  gap: 20px;
}

.icon{
  height: 25px;
  width: 35px;
  display: flex;
}

th,
td {
  border: thin solid #ccccff;
  text-align: center;
  padding: 4px;
  font-size: 14px;
}

th {
  background-color: #ff3444;
}


form {
  display: flex;
  gap: 15px;
  font-size: 15px;
}

form td:last-child {
  display: flex;

}


.versiunea1{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.butoane{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;

  
  button {
    width: 70px;
    height: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
   
}
}

}