.cautare2 {
    display: flex;
    align-items: center;
     justify-content: center;
     outline: none;
     border: none;


    input {
       
        border: none;
        outline: none;
        background: transparent;


        &::placeholder {
            font-size: 12px;

        }
    }
  
}